.register {
    gap: 5px;
    padding: 7% 6% 3%;
}

.form__login {
    margin: 0;
}

.form__login-checkbox {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}

.cbx {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;
}

.link-aviso {
    font-family: Montserrat;
    color: #7c858c;
    font-size: 9pt;
    font-weight: 700;
}

.link-aviso a {
    color: #00953a;
    text-decoration: none;
}

.link-aviso a:hover {
    text-decoration: underline;
    color: #ffd923;
}

#invalid-field {
    margin-top: -10px;
    width: 180px;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
    display: none;
}

.container .info {
    height: 150vh;
}

@media (max-width: 1000px) {
    .form__header-link {
        position: fixed;
        top: 5vh;
        right: 5vw;
    }
    .form__header-link a {
        font-size: 10px;
        text-decoration: none;
        color: var(--primary-color);
        border-bottom: 5px solid var(--primary-color);
    }
}